<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signupServlet</servlet-name>
        <servlet-class>controller.signupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgetPassServlet</servlet-name>
        <servlet-class>controller.forgetPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeServlet</servlet-name>
        <servlet-class>controller.homeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shopServlet</servlet-name>
        <servlet-class>controller.shopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accountServlet</servlet-name>
        <servlet-class>controller.accountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartServlet</servlet-name>
        <servlet-class>controller.cartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prDetailServlet</servlet-name>
        <servlet-class>controller.prDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listCartServlet</servlet-name>
        <servlet-class>controller.listCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payServlet</servlet-name>
        <servlet-class>controller.payServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logOutServlet</servlet-name>
        <servlet-class>controller.logOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>controller.searchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signupServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgetPassServlet</servlet-name>
        <url-pattern>/forgetPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeServlet</servlet-name>
        <url-pattern>/homeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shopServlet</servlet-name>
        <url-pattern>/shopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accountServlet</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartServlet</servlet-name>
        <url-pattern>/cartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prDetailServlet</servlet-name>
        <url-pattern>/prDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listCartServlet</servlet-name>
        <url-pattern>/listCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payServlet</servlet-name>
        <url-pattern>/payServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logOutServlet</servlet-name>
        <url-pattern>/logOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/searchServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
